.login-container {
  width: 45%;
  margin: 0 auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  padding: 40px;
}

.email-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email-label {
  text-align: start;
  font-size: 16px;
  opacity: 0.6;
}

.email-input {
  border: 1px solid rgba(0, 0, 0, 0.304);
  padding: 13px 15px;
  border-radius: 5px;
}

.password-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.password-label {
  text-align: start;
  font-size: 16px;
  opacity: 0.6;
}

.password-input {
  border: 1px solid rgba(0, 0, 0, 0.304);
  padding: 13px 15px;
  border-radius: 5px;
}

.forgot-pass {
  text-align: start;
  font-size: 14px;
  color: #2962ff;
  cursor: pointer;
}
.login-btn {
  font-size: 16px;
  color: white;
  background-color: #2962ff;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  cursor: pointer;
}
